*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #000;
}

.gradient{
    height: 100%;
    width: 100vw;
    background: linear-gradient(#00000028, #000);
    z-index: -2;
}

.background img{
    filter: blur(3px);
    object-fit: cover;
    position: absolute;
    top: 0;
    height: 859px;
    width: 100vw;
    z-index: -3;
}

.background{
    height: 859px;
    z-index: -1;
    position: absolute;
    top: 0;
    overflow: hidden;
}

main{
    font-size: 40px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-top: 30vh;
}

.calendario,
.info {
    max-width: 90vw;
    margin: auto;
    display: grid;
    place-items: center;
    font-size: 14px;
    text-align: center;
}

.spazza {
    padding: 5px 20px;
    border-radius: 40px;
    font-size: 40px;
    font-weight: bolder;
    max-width: 90vw;
    text-align: center;
    display: flex;
}

.spazza i{
    margin: 15px 8px;
    font-size: 20px;
}

.calendario{
    margin-top: 80px;
    border: 2px solid #fff;
    padding: 20px;
    border-radius: 50px 50px 50px 0;
}

.calendario p{
    font-size: 16px;
    margin-bottom: 12px;
    margin-left: 10px;

}

.consigli{
    width: 60vw;
    display: none;
}

.visible{
    display: block !important;
}

.invisible{
    display: none;
}
.calendarioFull{
    display: none;
}

.calendarioFull ul{
    list-style-type: none;
    text-align: start;
    font-size: 16px;
    line-height: 40px;
}



