.accordion {
  background-color: transparent;
  padding: 4px 0;
  width: 100%;
  border: none;
  outline: none;
  transition: 0.4s;
  text-align: start;
  color: var(--dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion b{
  font-weight: 600;
}

.more {
  font-size: 30px;
  transition: all .2s;
}

.active .more{
  transform: rotate(45deg);
}

.panel {
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel li{
  font-weight: 300;
  font-size: 14px;
}

.good, .bad, .tip{
  border-radius: 10px;
  padding: 10px;
}

.trashbin {
  width: 195px;
  height: 195px;
  margin-bottom: 10px;
  background-image: url('../images/trashbins.png');
  background-size: cover;
}
