.greetings{
    max-width: 80vmin;
    margin: auto;
    color: #fff;
    margin-top: 25vmin;
    font-size: 18px;
}
#data{
    font-size: 14px;
}

main{
    width: 100vw;
    display: flex;
    gap: 80px;
    flex-direction: column;
    color: #fff;
    margin-top: 10vmax;
    overflow-x: hidden;
}

.calendario,
.info {
    margin: auto;
    font-size: 14px;
}


.info{
    background-color: transparent;
    color: #ffffff;
    width: 90%;
    border-left: 10px solid #5da049;
}

.spazza {
    font-size: 30px;
    font-family: 'Romero';
    letter-spacing: 2px;
    max-width: fit-content;
    margin: auto;
}

.calendario{
    font-size: 20px;
    border-bottom: 2px solid white;
}

.calendario p{
    font-size: 14px;
    text-align: start;
    opacity: 60%;
    line-height: 25px;
}

.calendarioFull{
    max-height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: max-height 0.4s ease-out;
}

.calendarioFull ul{
    list-style-type: none;
    text-align: start;
    line-height: 40px;
    height: 80%;
}

