*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

:root{
    --light: #E8E8E8;
    --dark: #373737;
}

body{
    font-family: 'Inter', sans-serif;
    font-weight: medium;
    background-color: var(--light);
    min-height: 100vh;
    display: grid;
    place-items: center;
    overflow-x: hidden;
}

main{
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
    margin-top: 120px;
    margin-bottom: 60px;
}

.visible{
    display: block !important;
}

.invisible{
    display: none;
}

.concave{
    box-shadow: -3px 2px 12px -6px rgba(0, 0, 0, 0.30), 10px -9px 9px 0px rgba(255, 255, 255, 0.70), -5px 3px 5px 0px rgba(0, 0, 0, 0.10) inset, 4px -4px 5px 0px rgba(255, 255, 255, 0.40) inset;
}

.convex{
    box-shadow: -5px 5px 12px 0px rgba(0, 0, 0, 0.30), 10px -9px 9px 0px rgba(255, 255, 255, 0.20), -5px 4px 13px 0px rgba(0, 0, 0, 0.10) inset, -2px 10px 18px 0px rgba(255, 255, 255, 0.40) inset;
}

.info{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#spazzaText{
    padding-left: 20px;
    font-size: 2em;
    width: min-content;
}

#spazzaDomani {
    font-size: 1.5em;
    font-weight: 500;
}

.domani, .guida{
    border-radius: 20px;
    padding: 16px 30px;
    background-color: var(--light);
}

.calendario{
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.infoContainer{
    max-width: 90vmin;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: var(--light);
}

p, button, span {
    font-size: 1em;
    font-weight: 300;
}

b {
    font-weight: 500;
}

